@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DistinctStyleSansLight";
  src: url("/fonts/Distinct-Style-Sans-Light.otf") format("opentype");
}

@font-face {
  font-family: "CorbertExtraCondensedMediumItalic";
  src: url("/fonts/CorbertExtraCondensed-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "AirLight";
  src: url("/fonts/Air-Light.otf") format("opentype");
}

@font-face {
  font-family: "Bohemian Style";
  src: url("/fonts/bohemian.otf") format("opentype");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c3927b;
  --secondary: #ffffff;
  --tertiary: #bcbab9;
  --font-primary: "Times New Roman", Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer utilities {
  .back-btn {
    @apply flex items-center text-center mt-2  font-medium bg-transparent hover:bg-[#faebdc] cursor-pointer  text-primary text-lg border border-primary rounded-lg px-6 py-1 transition;
  }
  .next-btn {
    @apply flex items-center text-center mt-2 font-medium  cursor-pointer text-white text-lg border border-primary rounded-lg px-6 py-1 transition;
  }
  .input-field {
    @apply bg-secondary py-2 max-sm:py-1 px-4 rounded-lg;
  }
}
.bg-today {
  border-radius: 50%;
  background-color: var(--secondary); /* Replace with your preferred color */
}
body {
  color: var(--tertiary);
  background: #f0f0f0;
  font-family: var(--font-primary);
}
/* Top-left image */

/* Bottom-left image */
.bottom-left {
  position: fixed;
  bottom: -10%;
  left: -10%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0.5; /* Reduced color intensity */
  background: radial-gradient(
      circle at 30% 70%,
      var(--primary) 10%,
      rgba(0, 0, 0, 0) 60%
    ),
    radial-gradient(circle at 60% 40%, var(--primary) 10%, rgba(0, 0, 0, 0) 70%);
}

.bottom-left::before,
.bottom-left::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  filter: blur(35px);
  opacity: 0.2; /* Further reduced strength */
}

.bottom-left::before {
  top: 20%;
  right: 40%;
  background: radial-gradient(circle, var(--primary) 25%, rgba(0, 0, 0, 0) 70%);
}

.bottom-left::after {
  bottom: 10%;
  left: 20%;
  background: radial-gradient(circle, var(--primary) 20%, rgba(0, 0, 0, 0) 75%);
}

/* Bottom-right image */
.bottom-right {
  position: fixed;
  bottom: -10%;
  right: -10%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0.5; /* Reduce color strength */
  background: radial-gradient(
      circle at 70% 70%,
      var(--primary) 15%,
      rgba(0, 0, 0, 0) 60%
    ),
    radial-gradient(circle at 40% 40%, var(--primary) 10%, rgba(0, 0, 0, 0) 70%);
}

.bottom-right::before,
.bottom-right::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  filter: blur(35px);
  opacity: 0.2; /* Reduce strength further */
}

.bottom-right::before {
  top: 20%;
  left: 40%;
  background: radial-gradient(circle, var(--primary) 25%, rgba(0, 0, 0, 0) 70%);
}

.bottom-right::after {
  bottom: 10%;
  right: 20%;
  background: radial-gradient(circle, var(--primary) 20%, rgba(0, 0, 0, 0) 75%);
}

/* /fonts/ReemKufi-Regular.ttf */

@font-face {
  font-family: "Reem Kufi";
  src: url("/src/fonts/ReemKufi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reem Kufi";
  src: url("/src/fonts/ReemKufi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Reem Kufi";
  src: url("/src/fonts/ReemKufi-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Reem Kufi";
  src: url("/src/fonts/ReemKufi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Custom styles for react-datepicker */
.react-datepicker__day--selected {
  background-color: var(--primary) !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__day--selected:hover {
  background-color: var(--secondary) !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #dedede !important;
  border-radius: 50% !important;
}

/* Customize the scrollbar width and appearance */
::-webkit-scrollbar {
  width: 5px;
  /* Narrow scrollbar width */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Light background for the track */
  border-radius: 10px; /* Rounded edges for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Gray color for the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
  /* Add a border for better visibility */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: var(--secondary); /* Darker color when hovered */
}

/* Firefox scrollbar styling */
.horizontal-scroll-container {
  scrollbar-width: thin; /* "auto" | "thin" | "none" */
  scrollbar-color: var(--primary) transparent; /* thumb and track colors */
}
/* Override PrimeReact dropdown item hover color */
.p-dropdown-items-wrapper .p-dropdown-item:hover {
  background-color: var(--primary) !important; /* Use your primary color */
  color: white !important; /* Adjust text color for better contrast */
}
/* Override PrimeReact active dropdown item color */
.p-dropdown-items-wrapper .p-dropdown-item.p-highlight {
  background-color: var(--primary) !important; /* Use your primary color */
  color: white !important; /* Adjust text color for better contrast */
}

.p-dropdown:hover,
.p-dropdown.p-focus {
  border-color: var(--primary) !important; /* Primary color */
}
/* Custom Dropdown Styles */

/* Dropdown Container */
/* Custom Dropdown Styles */

/* Dropdown Container */
.p-dropdown {
  border: 2px solid var(--secondary); /* Default border color */
  border-radius: 0.375rem; /* Rounded corners */
  background-color: #ffffff; /* Background color */
  transition: border-color 0.2s, box-shadow 0.2s; /* Smooth transition */
  padding: 0.5rem 1rem; /* Padding for the header */
}

/* Dropdown Hover State */
.p-dropdown:hover {
  border-color: var(--primary); /* Use primary color for hover border */
}

/* Dropdown Focus State */
.p-dropdown.p-focus {
  border-color: var(--primary); /* Use primary color for focus border */
  box-shadow: 0 0 0 2px var(--secondary); /* Focus ring */
}

/* Dropdown Panel (Options List) */
.p-dropdown-panel {
  border: 1px solid var(--secondary); /* Border color */
  border-radius: 0.375rem; /* Rounded corners */
  background-color: #ffffff; /* Background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Dropdown Items */
.p-dropdown-item {
  padding: 0.5rem 1rem; /* Padding */
  color: #374151; /* Text color */
}

/* Dropdown Item Hover State */
.p-dropdown-item:hover {
  background-color: #f3f4f6; /* Background color on hover */
}

/* Selected Dropdown Item */
.p-dropdown-item.p-highlight {
  background-color: var(--primary); /* Use primary color for selected item */
  color: #ffffff; /* Text color for selected item */
}

/* Dropdown Arrow Icon */
.p-dropdown-trigger-icon {
  color: var(--secondary); /* Use secondary color for arrow */
}

/* Dropdown Arrow Icon Hover State */
.p-dropdown:hover .p-dropdown-trigger-icon {
  color: var(--primary); /* Use primary color for arrow on hover */
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom {
  animation: zoom 1.5s infinite;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.print-button {
  display: block !important;
}
