.swiper-button-next,
.swiper-button-prev {
  color: #c3927b;
}

.swiper-pagination-fraction {
  color: #c3927b;
}

.swiper-pagination-bullet {
  background-color: #c3927b;
}

.swiper-pagination-bullet-active {
  background-color: #c3927b;
}
/* Adjust the position of the Swiper pagination */
.swiper-pagination {
  position: relative; /* Change from absolute to relative */
  margin-top: 40px; /* Add margin to push it down */
  text-align: center; /* Center the pagination text */
}

/* Optional: Adjust the style of the pagination text */
.swiper-pagination-fraction {
  font-size: 16px; /* Adjust font size */
  color: #000; /* Change text color */
}
