/* swiper-custom.css */

/* Custom styles for Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--primary); /* Background color */
  color: white; /* Arrow color */
  width: 40px; /* Button width */
  height: 40px; /* Button height */
  border-radius: 50%; /* Rounded corners */
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Arrow size */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--secondary); /* Hover background color */
}

.swiper-button-next {
  right: 10px; /* Position from the right */
}

.swiper-button-prev {
  left: 10px; /* Position from the left */
}

.swiper-pagination {
  position: relative;
  margin-top: 40px;
  text-align: center;
  color: #c2937b;
}

.swiper-pagination-fraction {
  font-size: 16px;
  color: #c2937b;
}
